<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIZZBUZZ</title>
</head>
<body>
    <h1>FizzBuzz numbers between 1 and 100:</h1>
    <ul>
        {% for number in range(1, 101) %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    <h1>FizzBuzz numbers divisible by 3:</h1>
    <ul>
        {% for number in fizz %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    <h1>FizzBizz numbers divisible by 5:</h1>
    <ul>
        {% for number in buzz %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    <h1>FizzBuzz numbers divisible by 3 and 5 :</h1>
    <ul>
        {% for number in fizzbuzz %}
            <li>{{ number }}</li> 
        {% endfor %}
    </ul>
</body>
</html>